<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Yesh Jadav</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./static/assets/img/user.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="./static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="./static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="./static/assets/img/profile.png" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="/">Yesh Jadav</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://leetcode.com/yeshj23/" class="leetcode"><span class="iconify" data-icon="simple-icons:leetcode"></span></a>
          <a href="https://github.com/Yesh123456/" class="github"><i class='bx bxl-github' ></i></a>
          <a href="https://www.linkedin.com/in/yesh-jadav-a05a391a6/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          <a href="https://www.hackerrank.com/yeshjadav4" class="hackerank"><span class="iconify" data-icon="fa-brands:hackerrank"></span></a>
        </div>
      </div>

      <nav class="nav-menu">
        <ul>
          <li class="active"><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="about.html"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="skills.html"><i class="bx bx-file-blank"></i> <span>Skills</span></a></li>
          <li><a href="experience.html"><i class="bx bx-book-content"></i>Experience</a></li>
          <li><a href="projects.html"><i class="bx bx-server"></i>Projects</a></li>
          <li><a href="contact.html"><i class="bx bx-envelope"></i> Contact</a></li>

        </ul>
      </nav>
      <!-- .nav-menu -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    </div>
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Yesh Jadav</h1>
      <p>I'm <span class="typed" data-typed-items="Web Developer, BackEnd Developer, FrontEnd Developer, Full Stack Developer"></span></p>
    </div>
  </section>
  <!-- End Hero -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        <i class='bx bxs-copyright'></i>Copyright 2021 | <i class='bx bxs-user-pin' ></i> <strong><span>Portfolio</span></strong>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
  <!-- End  Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="./static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="./static/assets/vendor/php-email-form/validate.js"></script>
  <script src="./static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="./static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="./static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="./static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="./static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="./static/assets/vendor/aos/aos.js"></script>
  <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

  <!-- Template Main JS File -->
  <script src="./static/assets/js/main.js"></script>

</body>

</html>